/* src/components/Home/Home.css */
.home-container {
    background-image: url('https://images.pexels.com/photos/2661255/pexels-photo-2661255.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; /* Text color */
}

h2 {
    font-family: 'Playfair Display', serif; /* Font for headings */
    font-size: 3rem; /* Increased font size for the heading */
}

p {
    font-family: 'Lora', serif; /* Font for paragraph */
    font-size: 1.5rem; /* Increased font size for the paragraph */
}

