
.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-content p {
    margin-bottom: 1rem;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons a {
    color: #fff; 
    font-size: 24px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.social-icons .fa-facebook-f {
    color: #1877F2; 
}

.social-icons .fa-twitter {
    color: #1DA1F2; 
}

.social-icons .fa-instagram {
    background: radial-gradient(circle at 30% 107%, 
      #fdf497 0%, 
      #fdf497 5%, 
      #fd5949 45%, 
      #d6249f 60%, 
      #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

