.add-to-cart-btn {
    background-color: #274C77;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 0.875rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-to-cart-btn i {
    margin-right: 8px; /* Adds spacing between the icon and the text */
}

.add-to-cart-btn:hover {
    background-color: #1f3a5b;
}

